@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 86% 97%;
    --destructive-foreground: 0 74% 42%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply !bg-slate-100 !text-foreground;
  }
  .hero_gradient {
    background-color: #22c55e;
    background-image: linear-gradient(135deg, #22c55e 0%, #16a085 100%);
  }
  .scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
  }

  .scrollbar-track-green-lighter::-webkit-scrollbar-track {
    --bg-opacity: 0.5;
    background-color: #00000015;
  }

  .scrollbar-thumb-green::-webkit-scrollbar-thumb {
    --bg-opacity: 0.5;
    background-color: #13131374;
  }

  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 7px;
  }
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #16a34a;
}
